<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Sistema de contagem de faltas</title>
</head>
<body>

{% if chamadas_pendentes %}
	<div class="d-none">
		<button id="botao_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAviso"></button>
	</div>
	<!-- Modal Aviso-->
	<div class="modal fade" id="modalAviso" tabindex="-1" aria-hidden="true">
	  <div class="modal-dialog" >
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Chamadas pendentes</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			Voce possi {{ len(chamadas_pendentes) }} nao finalizadas
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		  </div>
		</div>
	  </div>
	</div>

{% endif %}

	<!-- Topo -->
	<div class="container">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="/">
				<img src="../static/css/ufabc-logo.svg" width="50" height="50" class="mr-2"><span>UFABC</span>
			</a>
			<a href="/logout" class="btn btn-outline-danger">Sair</a>
		</nav>
	</div>

	<!-- Conteudo -->
	<div class="container my-5">

		<!-- Gerador de relatorio -->
		<div class="card text-center my-5">
			<div class="card-body">
				<h5 class="card-title">Relatórios</h5>
				<p style="font-size: 50px;"><i class="fas fa-chart-bar"></i></p>
				<p>Gere o relatório completo de sua frequência</p>
				<a href="/relatorio_aluno">
					<button class="btn btn-primary" type="button">Gerar relatorio</button>
				</a>
			</div>
		</div>

		
		<!-- Modal nova turma -->
		<div class="modal fade" id="formNovaTurma" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Nova turma</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="formulario" action="cadastra_nova_turma_aluno" method="post">
						<div class="modal-body">
							<input class="form-control" type="text" id="input_turma" placeholder="Digite o nome da turma">
							<input hidden="hidden" id="input_id_turma" type="text" name="id_turma">
						</div>
						<div class="modal-footer">
							<button type="button" onclick="cadastraNovaTurma()" class="btn btn-primary">Salvar mudanças</button>
						</div>
					</form>
				</div>
			</div>
		</div>


		<!-- Turmas cadastradas -->
		<div class="card border-dark my-5">
			<div class="card-header bg-dark text-white">
				<h5>Turmas matriculadas</h5>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Turma</th>
							<th>Campus</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for turma in lista_de_turmas %}
					{% set info_turma = buscaTurma(turma['id_turma'])[0] %}
						<tr>
							<td>{{ info_turma['nome_turma'] }}</td>
							<td>{{ info_turma['campus'] }}</td>
							<td>
								<form action="/remover_turma_aluno" method="post">
									<input name="id_turma" type="text" hidden="hidden" value="{{ turma['id_turma'] }}">
									<button type="submit" class="btn btn-transparent"><i class="fas fa-trash"></i></button>
								</form>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>


		<!-- Chamadas pendentes CARD -->
		<div class="card border-warning my-5">
			<div class="card-header bg-warning">
				<h5 class="text-white">Chamadas pendentes</h5>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Turma</th>
							<th>Data</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for chamada in chamadas_pendentes %}
						<tr>
							<td>{{ buscaTurma(chamada['id_turma'])[0]['nome_turma'] }}</td>
							<td>{{ chamada['data_chamada'] }}</td>
							<td>
								<form action="marcar_presenca" method="post">
									<input hidden="hidden" type="text" name="id_chamada" value="{{ chamada['id_chamada'] }}">
									<button class="btn btn-transparent" type="submit"><i class="fas fa-user-check"></i></button>
								</form>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>


		<!-- Chamadas ativas CARD -->
		<div class="card border-primary my-5">
			<div class="card-header bg-primary">
				<h5 class="text-white">Chamadas ativas</h5>	
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Turma</th>
							<th>Data</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for chamada in chamadas_ativas_presente %}
						<tr>
							<td>{{ buscaTurma(chamada['id_turma'])[0]['nome_turma'] }}</td>
							<td>{{ chamada['data_chamada'] }}</td>
							<td>Presente</td>
						</tr>
					{% endfor %}
					{% for chamada in chamadas_ativas_ausente %}
						<tr>
							<td>{{ buscaTurma(chamada['id_turma'])[0]['nome_turma'] }}</td>
							<td>{{ chamada['data_chamada'] }}</td>
							<td>Ausente</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>


	</div>

</body>

<script>
function cadastraNovaTurma(){
    let formulario = document.getElementById('formulario');
    let input_turma = document.getElementById('input_turma');
    if(busca(input_turma.value, turmas)){
        console.log('sim');
        let indice = buscaIndice(input_turma.value, turmas);
        indice = id_turma[indice];
        let input_id_turma = document.getElementById('input_id_turma');
        input_id_turma.setAttribute('value', indice);
        formulario.submit();
    }
    else {
        alert('Turma não encontrada');
    }
}




function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

function busca(elemento, vetor){
    for(let i=0; i < vetor.length; i++){
        if(vetor[i] == elemento){
            return true;
        }
    }
    return false;
}

function buscaIndice(elemento, vetor){
	for(let i=0; i < vetor.length; i++){
		if(vetor[i] == elemento){
			return i;
		}
	}
}

function exibeModalAviso(){
	let botao = document.getElementById("botao_modal");
	botao.click();
}

{% if chamadas_pendentes %}
exibeModalAviso();
{% endif %}

let turmas = {{ todas_turmas['nome_turma']|tojson }};
let id_turma = {{ todas_turmas['id_turma']|tojson }}

/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("input_turma"), turmas);



</script>

</html>