<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Sistema de contagem de faltas</title>
</head>
<body>

	<!-- Topo -->
	<div class="container">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="../static/css/ufabc-logo.svg" width="50" height="50" class="mr-2"><span>UFABC</span>
			</a>
			<a href="/logout" class="btn btn-outline-danger">Sair</a>
		</nav>
	</div>

	<!-- Conteudo -->
	<div class="container my-5">

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for mensagem in messages %}
					<div class="form-group my-0">
						<p class="text-success text-center">{{ mensagem }}</p>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}



		<!-- Gerador de relatorio -->
		<div class="card text-center my-5">
			<div class="card-body">
				<h5 class="card-title">Relatórios</h5>
				<p style="font-size: 50px;"><i class="fas fa-chart-bar"></i></p>
				<p>Gere o relatório completo de presença de suas turmas</p>
				<a href="/relatorio_profesor">
					<button class="btn btn-primary" type="button">Gerar relatorio</button>
				</a>
			</div>
		</div>


		<!-- Foto upload / Formulario nova chamada -->
		<div class="row">
			<div class="col-6">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Nova chamada</h5>
						<p class="card-text">Realize o upload de uma foto e uma nova chamada será gerada automaticamente</p>
                        <div id="div_upload_photo">
                            <button id="button_add" class="btn btn-transparent" type="button">
                                <div class="text-center">
                                    <img style="width: 25%" src="../static/css/photo-upload-icon.png">
                                </div>
                            </button>
                        </div>
                        
                        <div id="formulario_chamada" style="display: none">
                            <form id="form_nova_chamada" action="/criar_chamada" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Arquivo: </div>
                                            </div>
                                            <input id="input_arquivo" name="nome_arquivo" class="form-control" type="text" readonly>
                                        </div>
                                        <div class="input-group my-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Data da chamada: </div>
                                            </div>
                                            <input id="input_data_chamada" name="input_data_chamada" class="form-control" type="date" readonly>
                                        </div>
                                        <div class="input-group my-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Horario: </div>
                                            </div>
                                            <input id="input_horario" class="form-control" type="time" readonly>
                                        </div>
                                        <div class="input-group my-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Turma: </div>
                                            </div>
                                            <select id="input_turma" name="id_turma" class="custom-select" disabled>
												<option value="">-- SELECIONE A TURMA --</option>
										{% for turma in lista_de_turmas %}
											{% if turma['id_status'] == 1 %}
                                                <option value="{{ turma['id_turma'] }}">{{ turma['nome_turma'] }}</option>
											{% endif %}
										{% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2 text-center">
                                        <button type="button" class="btn btn-outline-dark btn-lg py-4" onclick="desabilita_campo(false)">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-lg py-4 my-3" onclick="cancelaUpload()">X</button>
                                    </div>
                                </div>
                                <button type="button" onclick="enviaFormChamada()" class="btn btn-primary btn-lg btn-block mt-3">Cadastrar</button>
                                <input name="foto_upload" id="input_file" type="file" hidden="hidden" onchange="showImage.call(this)">
                            </form>
                        </div>
                                                
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Nova turma</h5>
						<p class="card-title">
							Cadastre uma nova turma e crie uma nova chamada agora mesmo...
						</p>
					</div>
					<div class="card-footer bg-transparent">
						<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#formNovaTurma">
							Cadastrar uma nova turma +
						</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal - Formulario Nova turma -->
		<div class="modal fade" id="formNovaTurma" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<form class="mx-5">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Nova turma</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
								<div class="form-group row">
									<label for="nome_turma" class="col-2">Turma: </label>
									<input id="nome_turma" class="form-control col-10" type="text" name="nome_turma" placeholder="Digite o nome da turma">
								</div>
								<div class="form-group">
									<div class="row">
										<legend class="col-form-label col-2 pt-0">Campus</legend>
										<div class="col-10">
											<div class="form-check">
												<input class="form-check-input" id="campus_sa" type="radio" name="campus" value="Santo André">
												<label class="form-check-label" for="campus_sa">Santo André</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" id="campus_sbc" type="radio" name="campus" value="São Bernardo">
												<label class="form-check-label" for="campus_sbc">São Bernardo</label>
											</div>
										</div>
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
							<button type="submit" class="btn btn-primary">Cadastrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>


		<!-- Chamadas pendentes CARD -->
		<div class="card border-warning my-5">
			<div class="card-header bg-warning">
				<h5 class="text-white">Chamadas pendentes</h5>				
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Turma</th>
							<th>Data</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for chamada in chamadas_pendentes %}
						<tr>

							<td>{{ chamada['nome_turma'] }}</td>
							<td>{{ chamada['data_chamada'] }}</td>
							<td>
								<form action="/excluir_chamada" method="post">
									<input hidden="hidden" type="text" name="id_chamada" value="{{ chamada['id_chamada'] }}">
									<button class="btn btn-transparent" type="submit"><i class="fas fa-trash"></i></button>
								</form>
							</td>
							<td>
								<form action="/chamada" method="post">
									<input hidden="hidden" type="text" name="id_chamada" value="{{ chamada['id_chamada'] }}">
									<button class="btn btn-transparent" type="submit"><i class="fas fa-pencil-alt"></i></button>
								</form>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>


		<!-- Chamadas ativas CARD -->
		<div class="card border-primary my-5">
			<div class="card-header bg-primary">
				<h5 class="text-white">Chamadas ativas</h5>	
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Turma</th>
							<th>Data</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for chamada in chamadas_ativas %}
						{% set id_foto = buscaFotoIdChamada(chamada['id_chamada'])[0]['id_foto'] %}
						{% set total =  len(buscaFacesIdFoto(id_foto)) %}
						{% set ativas = len(buscaCoordenadaAtiva(id_foto)) %}
						<tr>
							<td>{{ chamada['nome_turma'] }}</td>
							<td>{{ chamada['data_chamada'] }}</td>
							<td>{{ ativas }}/{{ total }}</td>
							<td>
								<form action="/detalhes_chamada" method="post">
									<input type="hidden" name="id_chamada" value="{{ chamada['id_chamada'] }}">
									<button class="btn btn-outline-info" type="submit">Detalhes</button>
								</form>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>


		<!-- Turmas CARD -->
		<div class="card border-success my-5">
			<div class="card-header bg-success">
				<h5 class="text-white">Turmas</h5>
			</div>
			<div class="card-body">

			{% for turma in lista_de_turmas %}
				{% if turma['id_status'] == 1 %}
					{% set horarios = buscaHorarioTurma(turma['id_turma']) %}
					<!-- Uma turma CARD -->
					<div class="card my-2">
								<div class="card-header">
									<h6>
										<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ removeEspaco(turma['nome_turma']) }}">
											{{ turma['nome_turma'].lower().capitalize() }}
										</button>
									</h6>
								</div>
								<div class="collapse" id="{{ removeEspaco(turma['nome_turma']) }}">
									<div class="card-body">
										<div class="row">
											<div class="col-6">
												<p class="text-left">
													<span>Campus: </span>
													<span class="text-capitalize">{{ turma['campus'] }}</span>
												</p>
											</div>
											<div class="col-6 text-right">
												<form action="/arquivar_turma" method="post">
													<input type="hidden" name="id_turma_arquivar" value="{{ turma['id_turma'] }}">
													<button class="btn btn-outline-danger" type="submit"><i class="fas fa-trash"></i></button>
												</form>
											</div>
										</div>

										<p>
											<span>Alunos: </span>
											<span>{{ turma['qtd_alunos'] }}</span>
										</p>
										<p>
											<table class="table">
												<thead>
													<tr>
														<th>Dia da semana</th>
														<th>Semanal</th>
														<th>Horario do dia</th>
													</tr>
												</thead>
												<tbody>
													{% for horario in horarios%}
														<tr>
															<td>{{ horario['dia_da_semana'] }}</td>
															<td>{{ semanal(horario['id_dia_semanal'])}}</td>
															<td>{{ horario['horario'] }}<span> as </span>{{ horario['horario']+2 }}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</p>
									</div>
								</div>
							</div>
				{% endif %}
			{% endfor %}

			</div>
		</div>


		<!-- Turmas Arquivadas CARD -->
		<div class="card border-dark my-5">
			<div class="card-header bg-dark">
				<span class="float-left">
					<h5 class="text-white d-inline">Turmas Arquivadas</h5>					
				</span>
				<span class="float-right">
					<button type="button" data-toggle="collapse" data-target="#turmasArquivadas" class="btn btn-outline-light">Exibir</button>						
				</span>
			</div>
			<div class="collapse" id="turmasArquivadas">
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th>Turma</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for turma in lista_de_turmas %}
								{% if turma['id_status'] == 0 %}
									<tr>
										<td>
											{{ turma['nome_turma'] }}
										</td>
										<td>
											<form action="/desarquivar_turma" method="post">
												<input type="hidden" name="id_turma_desarquivar" value="{{ turma['id_turma'] }}">
												<button class="btn btn-warning" type="submit">Desarquivar</button>
											</form>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>
    
    <script src="../static/js/exif.js" type="text/javascript"></script>
    
    <script>

        function metadados(tag_img, input_arquivo, input_data_chamada, input_horario) {
                var nome_arquivo = input_file.files[0]['name'];
                input_arquivo.setAttribute("value", nome_arquivo);
                EXIF.getData(tag_img, function() {
                    myData = tag_img;
                    console.log(myData.exifdata);
                    var input_file = document.getElementById("input_file");
                    var data_arquivo = myData.exifdata.DateTimeOriginal.split(" ")[0];
                    var horario_arquivo = myData.exifdata.DateTimeOriginal.split(" ")[1];
                    input_data_chamada.setAttribute("value", formataData(data_arquivo));
                    input_horario.setAttribute("value", formataHorario(horario_arquivo));
                });
            }
        
        function formataData(data){
            var data = data.replace(":", "-");
            return data.replace(":", "-");
        }
        
        function formataHorario(horario){
            return horario.substring(0, 5);
        }
        
    </script>
    
    
    <script>

    	let horario_turmas = {{ horario_turmas|tojson }}
        
        const button_add = document.getElementById("button_add");
        const input_file = document.getElementById("input_file");
        const formulario_chamada = document.getElementById("formulario_chamada");
        
        
        button_add.addEventListener("click", function(){input_file.click();});
        
        
        function showImage(){
            if(this.files && this.files[0]){
                var obj = new FileReader();
                obj.onload = function(data){
                    var div_upload_photo = document.getElementById("div_upload_photo");
                    var image_preview = document.createElement("img");
                    image_preview.src = data.target.result;
                    image_preview.style.width = "100%";
                    div_upload_photo.innerHTML = "";
                    image_preview.setAttribute("id", "img_preview");
                    div_upload_photo.appendChild(image_preview);
                    div_upload_photo.className = "my-3";
                }
                obj.readAsDataURL(this.files[0]);
                formulario_chamada.style.display = "block";
            }
            
            
            var intervalo_espera = setTimeout(function(){
                var img_preview = document.getElementById("img_preview");
                var input_arquivo = document.getElementById("input_arquivo");
                var input_data_chamada = document.getElementById("input_data_chamada");
                var input_horario = document.getElementById("input_horario");
                metadados(img_preview, input_arquivo, input_data_chamada, input_horario);
                let data = separaData();
                let horario = separaHorario();
                let nome_turma = procuraDataCompativel(horario_turmas, data['dia'], data['mes'], data['ano'], horario['hora']);
                selecionaTurma(nome_turma);
                clearTimeout(intervalo_espera);
            }, 800);
            
        }

        function selecionaTurma(nome){
        	if(nome){
        		let option = document.getElementsByTagName('option');
				for(let i=0; i < option.length; i++){
					if(option[i].innerText == nome){
					option[i].setAttribute('selected', true);
					}
				}
        	}
        }

        
        function desabilita_campo(booleano){
        	console.log(booleano);
        	var input_data_chamada = document.getElementById('input_data_chamada');
        	var input_horario = document.getElementById('input_horario');
        	var input_turma = document.getElementById('input_turma');
        	if (booleano) {
        		input_data_chamada.setAttribute('readonly', '');
        		input_horario.setAttribute('readonly', '');
        		input_turma.setAttribute('disabled', '');
        	}
        	else {
        		input_data_chamada.removeAttribute('readonly');
        		input_horario.removeAttribute('readonly');
        		input_turma.removeAttribute('disabled');
        	}
        }
        
        
        function cancelaUpload(){
            var div_upload_photo = document.getElementById("div_upload_photo");
            var formulario_chamada = document.getElementById("formulario_chamada");
            div_upload_photo.innerHTML = "";
            formulario_chamada.style.display = "none";
            desabilita_campo(true);
            div_upload_photo.appendChild(criaBotao_div_upload_photo());
        }
        
        
        function criaBotao_div_upload_photo(){
            var img = document.createElement("img");
            var botao = document.createElement("button");
            var div = document.createElement("div");
            img.src = "../static/css/photo-upload-icon.png";
            img.style.width = "25%";
            div.setAttribute("class", "text-center");
            botao.setAttribute("class", "btn btn-transparent");
            botao.setAttribute("type", "button");
            botao.setAttribute("id", "button_add");
            botao.addEventListener("click", function(){input_file.click();});
            botao.appendChild(div);
            div.appendChild(img);
            return botao;
        }
        

		Date.prototype.getWeek = function() {
  			var onejan = new Date(this.getFullYear(),0,1);
  			return Math.ceil ((((this - onejan) / 86400000) + onejan.getDay()+1)/7);
		}


		function procuraDataCompativel(horarios, dia, mes, ano, hora){
			let data = new Date(ano, mes-1, dia);
			let weekNumber = data.getWeek();
			let semanal = weekNumber%2 == 0 ? 2: 1;
			let dia_da_semana = data.getDay() + 1;
			console.log(data);
			console.log(dia_da_semana);
			let dia_semanal = semanal == 1? dia_da_semana: dia_da_semana+7;
			console.log(dia_semanal);
			for(let i=0; i < horarios.length; i++){
				if(horarios[i]['dia_semanal'] == dia_semanal){
					if(hora >= horarios[i]['horario'] && hora <= horarios[i]['horario']+2){
						return horarios[i]['nome'];
					}
				}
			}
		}


		function separaData() {
			let input_data = document.getElementById('input_data_chamada');
			let data = input_data.value.split('-');
			data =  {"ano": data[0], "mes": data[1], "dia": data[2] };
			return data;
		}


		function separaHorario() {
			let input_horario = document.getElementById('input_horario');
			let horario = input_horario.value.split(':');
			horario =  {"hora": horario[0], "minuto": horario[1]};
			return horario;
		}

		function validaFormularioNovaChamada(){
			let input_arquivo = document.getElementById('input_arquivo');
        	let input_data_chamada = document.getElementById('input_data_chamada');
        	let input_horario = document.getElementById('input_horario');
        	let input_turma = document.getElementById('input_turma');
        	let inputs = [input_arquivo, input_data_chamada, input_horario, input_turma];
        	for(let i=0; i < inputs.length; i++){
        		if(inputs[i].value == ""){
        			return false;
        		}
        	}
        	return true;
		}

        function enviaFormChamada(){
        	let form = document.getElementById('form_nova_chamada');
        	desabilita_campo(false);
        	if(validaFormularioNovaChamada()){
        		form.submit();
        	}
        	else{
        		alert("Preencha todos os dados");
        	}
        }
    </script>


</body>
</html>