<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Sistema de contagem de faltas</title>
</head>
<body>

	<!-- Topo -->
	<div class="container">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="/">
				<img src="../static/css/ufabc-logo.svg" width="50" height="50" class="mr-2"><span>UFABC</span>
			</a>
			<a href="/logout" class="btn btn-outline-danger">Sair</a>
		</nav>
	</div>


	<div class="container my-5">
		<h1 class="display-4 text-center">Relatorio</h1>
		<div class="my-5">
			<table class="table">
				<thead>
					<tr>
						<th>Turma</th>
						<th>Presenças</th>
					</tr>
				</thead>
				<tbody>
                {% for turma in frequencias %}
					<tr>
						<td>{{ turma['turma'] }}</td>
						<td>{{ turma['presenca'] }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>